@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Proxima Nova Rg';
  margin: 0;
  color: #26262A;
}

.font-bold, .carousel-section .slide-title, .carousel-section .slide-link, .gadget-card .card-title, .gadget-card .card-text {
  font-weight: bold;
}

.font-semibold, .nav-link, .best-seller-section, .best-seller-section h2 {
  font-weight: 600;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 216px;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #F6F7F8;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262A;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link, .best-seller-section {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #26262A;
}

.nav-link.active, .active.best-seller-section, .nav-link:hover, .best-seller-section:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.carousel-section .slide-link {
  text-decoration: none;
  line-height: 22px;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #F6F7F8;
  color: #26262A;
  text-decoration: none;
  padding-top: 36px;
  padding-left: 30px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.gadget-card:first-child {
  background-color: #FF6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:first-child .card-image {
  position: absolute;
  right: 0;
  top: 0;
}

.gadget-card:first-child .price {
  opacity: .75;
}

.gadget-card:last-child {
  background-color: #C1C8CE;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card:last-child .price {
  opacity: .75;
}

.gadget-card:last-child .card-image {
  position: absolute;
  right: -26px;
  top: 82px;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0;
}

.gadget-card .price {
  font-size: 24px;
}

.gadget-card .card-image {
  position: absolute;
  top: -52px;
}

.gadget-card .second-gadget {
  padding-right: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 44px;
  margin-bottom: 22px;
}

.best-seller-section {
  margin: 89px auto 0 auto;
  width: 1170px;
  height: 965px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-seller-section h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #26262A;
  margin-bottom: 30px;
}

.best-seller-section .nav-link, .best-seller-section .best-seller-section {
  text-transform: none;
  line-height: 17px;
}

.best-seller-section .nav-link.active, .best-seller-section .active.best-seller-section {
  border-bottom: 3px solid #33A0FF;
}

.best-seller-section nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-sales-container {
  margin-top: 26px;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.best-sales-container a {
  color: #26262A;
  text-transform: none;
  width: 270px;
  height: 350px;
  border: 3px solid #F6F7F8;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-sales-container a .best-price-image {
  width: 236px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F6F7F8;
  margin-bottom: 15px;
  position: relative;
}

.best-sales-container a .stars {
  margin-top: 30px;
  margin-bottom: 10px;
}

.best-sales-container a .best-price-price {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87px;
  font-size: 16px;
  line-height: 17px;
}

.best-sales-container a .new-price {
  color: #FF4858;
}

.best-sales-container a .old-price {
  position: relative;
  color: #C1C8CE;
}

.best-sales-container a .line {
  position: absolute;
  width: 39px;
  height: 1px;
  border-bottom: 1px solid #5D656B;
  top: 9px;
}

.best-sales-container a .best-price-image-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 197px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.best-sales-container a .best-price-image-hover:hover {
  opacity: 0.9;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.best-sales-container a button {
  cursor: pointer;
  opacity: 1;
}

.best-sales-container a .like,
.best-sales-container a .add-to-cart {
  background-color: white;
  border: 2px solid #33A0FF;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin-right: 10px;
}

footer {
  border-top: 2px solid #F6F7F8;
  border-bottom: 2px solid #F6F7F8;
}

footer .footer-container {
  width: 1170px;
  height: 492px;
  margin: 0 auto;
  text-decoration: none;
}

footer .footer-container .top-footer {
  padding-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 240px;
}

footer .footer-container .top-footer .bouncer-text,
footer .footer-container .top-footer .follow-text,
footer .footer-container .top-footer .contact-text {
  margin-top: 25px;
  height: 91px;
  width: 270px;
  font-size: 12px;
  line-height: 20px;
}

footer .footer-container .top-footer .fb {
  margin-right: 40px;
}

footer .footer-container .top-footer .contact {
  width: 240px;
}

footer .footer-container .top-footer .follow-us,
footer .footer-container .top-footer .contact-us {
  font-size: 18px;
  line-height: 28px;
}

footer .footer-container .bottom-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid #F6F7F8;
  padding-top: 45px;
}

footer .footer-container .bottom-footer .bottom-footer-title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 22px;
}

footer .footer-container .bottom-footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  color: #26262A;
}

.last-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1170px;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  color: #C1C8CE;
}

.last-info img {
  margin-right: 20px;
}
/*# sourceMappingURL=site.css.map */