@import url('https://fonts.googleapis.com/css?family=Comfortaa|Jura|Montserrat+Alternates|Open+Sans+Condensed:300|Roboto|Roboto+Slab&display=swap');

body {
    background-image: linear-gradient( #FFFF96, #009E00);
    display: flex;
}

form {
    border: 2px solid darkgreen;
    border-radius: 20px;
    padding-left: 10px;
    margin: auto;
}       

h1 {
    font-family: 'Jura', sans-serif;
    color: darkgreen;
}

img {
    width: 250px;
}

section {
    display: inline-block;  
    margin-left: 15px;
    vertical-align: top;
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(14, 92, 14);
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(14, 92, 14);
    border: 1px dashed darkolivegreen;
    margin-top: 15px;
}

a:hover {
    background-color: darkgreen;
    color: #FFFF96;
}

.main-information {
    font-family: 'Roboto', sans-serif;
    color: rgb(8, 53, 8);
}

.date-assessment {
    margin: 20px 0;
}

.date-assessment > input {
    background-color: rgb(149, 192, 74);
}

[type="text"],
[type="number"] {
    background-color:  rgb(117, 194, 93);
}

[type="date"] {
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.soft-skills {
    margin-top: 20px;
}

ul {
    list-style-type: circle;
}

input::placeholder {
    color: rgb(82, 82, 10);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.sociability { 
    margin: 20px 0;
}
  
select {
    color: #FFFF96;
    background-color: rgb(25, 112, 25);
}

.criterias {
    margin: 20px 0;
}

.criterias > div {
    margin-top: 8px;
}

.table {
    margin-bottom: 8px;
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(0, 27, 0);
}

table {
    table-layout: fixed;
    border: 2px solid darkgreen;
    border-collapse: collapse; 
    font-family: 'Montserrat Alternates';
    color:  rgb(0, 27, 0);
    margin-bottom: 5px;
}

td, 
th {
    border: 2px solid darkgreen; 
    border-collapse: collapse;   
}

table img {
    height: 40px;
    width: 40px;
    vertical-align: middle;   
}

.main {
    font-family: 'Comfortaa';
    color: rgb(0, 27, 0);
    letter-spacing: 1px;
    font-weight: 600;
}