$title-color-dark: #5d5d5d;
$text-color-dark: #737373;
$text-color-blue: #4085f6; 
$text-color-black: #3b3b3b;

$background-color-blue: linear-gradient(to top, #4085f6, #1760d7);
$background-color-circle-blue: #1d72fe;
$background-color-grey: #f7f7f7;
$background-color-icons: #4085f6;
$background-color-icons-dark: #f3f5f8;
$background-color-button: #226be2;
$background-color-button-dark: #22233a;

