.poppins-regular {
    font-family: 'Poppins', sans-serif;
}

.poppins-light {
    @extend.poppins-regular;
    font-weight: 300;
}

.poppins-medium {
    @extend.poppins-regular;
    font-weight: 500;
}

.poppins-semibold {
    @extend.poppins-regular;
    font-weight: 600;
} 

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
}

.montserrat-medium {
    @extend.montserrat-regular;
    font-weight: 500;
}

.montserrat-semibold {
    @extend.montserrat-regular;
    font-weight: 600;
}

.raleway-semibold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}