@import'fonts';
@import'colors';
@import'base';

.top-part {
    height: 1043px;
    overflow: hidden;
    position: relative;

    header {
        width: 1171px;
        justify-content: space-between;
        padding-top: 62px;
        margin: 0 auto;


        .title {
            text-transform: uppercase;
            font-size: 33.5px;
            line-height: 48.5px;
            color: #fff;
        }

        nav {
            width: 641px;
            justify-content: space-between;

        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            line-height: 42px;
        }

        a:hover {
            border-bottom: 1px solid #fff;
        }

        .try {
            width: 242px;
            height: 76px;
            border-radius: 38px;
            background-color: #fff;
            color: $text-color-blue;
            font-size: 25.5px;
            line-height: 38px;
            border: none;
            z-index: 4;
            cursor: pointer;
        }

    }

    .circle-container {
        width: 441px;
        height: 352px;
        position: absolute;
        top: -138px;
        left: 1468px;
        overflow: hidden;
        z-index: 3;
        position: relative;

    }

    .circle {
        width: 522px;
        height: 522px;
        border-radius: 50%;

        background-color: $background-color-circle-blue;
        box-shadow: 2.1px 5.6px 36.8px 3.2px rgba(34, 31, 31, 0.2);
        position: absolute;
        left: 34px;
        top: -201px;

    }





    .background-square {
        z-index: -10;
        height: 2906PX;
        width: 2764PX;
        position: absolute;
        background-image: $background-color-blue;
        transform: rotate(40deg);
        border-radius: 608px;
        top: -2162px;
        left: -75px;
        border: 15px solid #226be2;
        overflow: hidden;

        .small-circle {
            width: 488px;
            height: 488px;
            border-radius: 50%;
            background-color: $background-color-circle-blue;
            box-shadow: 2.1px 5.6px 36.8px 3.2px rgba(34, 31, 31, 0.2);
            position: absolute;
            top: 2570px;
            left: 2343px;
        }
    }

    .phone {
        position: absolute;
        left: 272px;
        top: 145px;
    }

    .top-description {
        height: 201px;
        width: 598px;
        margin-left: 957px;
        margin-top: -106px;


        .top-description-title {
            color: #fff;
            font-size: 46px;

            text-align: right;
            padding-bottom: 40px;
            text-transform: capitalize;
        }

        .top-description-text {
            color: #fff;
            font-size: 20px;

            text-align: right;
        }


    }

    .download-button {
        justify-content: space-between;
        height: 81px;
        width: 478px;
        margin-left: 1069px;
        margin-top: 84px;


        button {
            height: 81px;
            width: 230px;
            border-radius: 40px;
            background-color: $background-color-button-dark;
            justify-content: center;
            border: none;
            cursor: pointer;
        }

        embed {
            margin-right: 23px;
        }

        .appstore-description,
        .playstore-description {
            align-items: flex-start;
        }

        .store-description-text {
            text-transform: capitalize;
            color: #fff;
            font-size: 13.5px;
            line-height: 34.5px;
        }

        .appstore-description-title {
            color: #fff;
            font-size: 19px;
        }

        .playstore-description-title {
            @extend.appstore-description-title;
        }
    }

}

.about-container {
    height: 801px;
    padding-top: 89px;

    .about-description {
        height: 141px;
        width: 913px;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .about-title {
            text-transform: capitalize;
            color: $title-color-dark;
            font-size: 36px;
            line-height: 1;
        }

        .about-text {
            color: $text-color-dark;
            font-size: 20px;
            line-height: 1.8;
            text-align: center;
        }
    }

    .about-cards {
        height: 391px;
        width: 1170px;
        justify-content: space-between;
        margin: 90px auto 0 auto;

        .about-card {
            width: 358px;
            height: 391px;
            background-color: #fff;
            box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2);
            position: relative;

            .about-card-back {
                width: 68px;
                height: 68px;
                transform: rotate(45deg);
                background-color: $background-color-icons-dark;
                border-radius: 5px;
                margin: 71px auto 0 auto;
            }

            .about-image {
                position: absolute;
                position: absolute;
                top: 85px;
                left: 163px;
                margin-bottom: 71px;
            }

            .about-card-description {
                position: absolute;
                top: 192px;
                text-align: center;

            }

            .about-card-title {
                margin: 0 auto 40px auto;
                color: $title-color-dark;
                font-size: 24px;
            }

            .about-card-text {
                color: $text-color-dark;
                font-size: 16px;
                padding: 0 26px;
            }

            .about-card-back-lock {
                background-color: $background-color-icons;
            }

            .about-card-title-lock {
                color: $text-color-blue;
            }
        }
    }
}

.features-container {
    height: 1312px;
    background-image: url(../img/back.svg);
    position: relative;
    padding-top: 89px;
    margin-bottom: 89px;
    color: #fff;

    .features-description {
        justify-content: space-between;
        align-items: center;
        height: 141px;
        width: 957px;
        margin: 0 auto;

        .features-title {
            font-size: 36px;
        }

        .features-text {
            font-size: 20px;
            text-align: center;
        }
    }

    .features-image {
        position: absolute;
        top: 329px;
        left: 373px;
    }

    .features-list {
        display: grid;
        row-gap: 72px;
        column-gap: 38px;
        height: 700px;
        width: 670px;
        grid-template-columns: 78px 554px;
        margin: 98px 362px 358px 876px;

        .feature-icon {
            width: 78px;
            height: 78px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            justify-content: center;
        }


        .feature-description {
            justify-content: space-between;
            height: 125px;

            .feature-description-title {
                text-transform: uppercase;
                font-size: 20px;
            }

            .feature-description-text {
                font-size: 16px;
            }

        }



    }


}

.pricing-container {
    height: 966px;
    background-color: $background-color-pricing-grey;
    padding-top: 87px;

    .pricing-description {
        width: 913px;
        height: 142px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        .pricing-title {
            font-size: 36px;
            color: $title-color-dark;
        }

        .pricing-text {
            font-size: 20px;
            color: $text-color-dark;
        }
    }

    .pricing-cards {
        height: 557px;
        width: 1170px;
        justify-content: space-between;
        align-items: center;
        margin: 90px auto;

        .pricing-card {
            height: 507px;
            width: 366px;
            background-color: #fff;
            border: 2px solid $background-color-button;
            border-radius: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .pricing-card-description {
            width: 137px;
            height: 136px;
            color: $title-color-dark;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 57px;

            .pricing-card-description-title {
                font-size: 24px;
            }

            .pricing-card-description-price {
                font-size: 36px;
                color: $text-color-blue;
            }

            .pricing-card-description-text {
                font-size: 18px;
            }
        }

        .pricing-card-items {
            height: 135px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            color: $text-color-dark;
            font-size: 14px;

            embed {
                margin-right: 8px;
            }
        }

        button {
            width: 205px;
            height: 55px;
            border: 2px solid $background-color-button;
            border-radius: 27px;
            margin-top: 40px;
            background-color: #fff;

            .button-text {
                text-transform: uppercase;
                color: $text-color-blue;
                font-size: 18px;
            }
        }


        .pricing-card-professional {
            height: 557px;
            background-image: $background-color-blue;
            color: #fff;
            border: none;

            .pricing-card-description,
            .pricing-card-items,
            .pricing-card-description-price {
                color: #fff;
            }

            button {
                border: none;
            }

        }
    }
}

.screenshots-container {
    padding-top: 76px;
    text-align: center;

    .screenshots-container-description {
        justify-content: space-between;
        align-items: center;
        height: 141px;
        width: 800px;
        margin: 0 auto 90px auto;

        .screenshots-container-description-title {
            color: $title-color-dark;
            font-size: 36px;
        }

        .screenshots-container-description-text {
            color: $text-color-dark;
            font-size: 20px;
        }
    }

    .screenshots {
        justify-content: space-between;
    }

    .screenshots-button-container {
        margin: 49px auto 0;

        button {
            width: 56px;
            height: 56px;
            background-color: $background-color-icons;
            border-radius: 50%;
            justify-content: center;
            border: none;
            box-shadow: 1.7px 4.7px 7.8px 0.2px rgba(58, 58, 58, 0.3);
            cursor: pointer;
            margin-bottom: 90px;
        }

        button:first-child {
            margin-right: 53px;
        }


    }
}

.reviews-container {
    height: 671px;
    padding-top: 90px;
    color: #fff;
    align-items: center;
    background-image: $background-color-blue;

    .reviews-container-title {
        text-transform: uppercase;
        font-size: 32px;
    }

    .clients-container {
        justify-content: space-between;
        width: 1171px;
        margin: 125px auto 50px;
        position: relative;

        .client1 {
            width: 560px;
            height: 277px;
            border: 1px solid #fff;
            justify-content: center;
            text-align: center;

            .client-image {
                border: 2px solid #fff;
                border-radius: 50%;
                position: absolute;
                top: -78px;
                left: 219px;
            }
        }

        .client2 {
            @extend.client1;
            .client-image{
            left: 840px;}
        }

        .review-description {
            align-items: center;
            justify-content: space-between;
            height: 177px;
            width: 409px;

            .client-data {
                align-items: center;
                justify-content: space-between;
                height: 47px;     
                font-size: 18px;       
            }

            .client-name {
                text-transform: uppercase;
            }

            .client-review {
                font-size: 15px;
                line-height: 28px;
            }

            i {
                font-size: 28px;
            }

            i:first-child {
                margin-right: 14px;
            }

            i:last-child {
                margin-left: 14px;
            }
        }

    }

    .switches {
        margin-bottom: 90px;
        text-align: center;
 
        .switch {
            border: none;
            background-color: $background-color-grey;
            opacity: .5;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 12px;
            cursor: pointer;
        }

        .switch:last-child {
            margin-right: 0;
        }

        .switch-center {
            background-color: #f4f4f4;
            opacity: .8;
        }
    }

}

.contacts-container {
    height: 712px;
    background-color: $background-color-grey;
    margin-top: 90px;
    align-items: center;


    .contacts-description {
        justify-content: space-between;
        width: 523px;
        height: 116px;
        margin: 73px auto 67px;
        text-align: center;

        .contacts-description-title {
            color: $text-color-black;
            font-size: 39px;
            text-transform: capitalize;
        }

        .contacts-description-text {
            color: $text-color-black;
            font-size: 14.5px;
        }
    }

    form {
        display: grid;
        grid-column-gap: 14px;
        grid-template-columns: 379px 743px;
        height: 313px;

        .main-information {
            background-color: #fff;
            justify-content: space-between;
            padding-left: 23px;
            padding-top: 42px; 
            padding-bottom: 42px;

        }

        .information-location {
            justify-content: space-between;

            .information-location-title {
                color: $text-color-black;
                font-size: 17.5px;
            }

            i {
                color: $background-color-button;
                margin-right: 16px;
                margin-top: -20px;
            }

            .information-location-text {
                color: #585858;
                font-size: 15.5px;
            }
        }

        .user-form {
            display: grid;
            grid-row-gap: 26px;
            grid-template-rows: 48px 49px 163px;
            align-items: start;
            
        } 

        input::placeholder {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 15.5px;
            line-height: 2.26;
            letter-spacing: 0.16px;
            color: #a2a2a2;
        }

        input {
            padding-left: 13px;
            border: none;
            height: 48px;
            @extend input::placeholder;
            color: $text-color-black;
        }
       

        textarea {
            @extend input;
            height: 163px;
        }
    }

    button {
        width: 158px;
        height: 45px;
        text-align: center;
        background-color: $background-color-button;
        border: none;
        margin-top: 25px;
        cursor: pointer;
            .send {
                margin: auto;
                font-size: 15.5px;
                letter-spacing: 0.31px;
                color: #fff;
            }
    }
}